# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js dependencies and build directories
node_modules
dist
dist-ssr
*.local

# Environment variables
*.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Rust-specific
src-server/target/
**/*.rs.bk
Cargo.lock
src-server/ipa-navigator-mfa/data/test_job
aligner/models
aligner/tests

# Python-specific
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Temporary files
tmp/
temp/
src-server/assets/test_output
