@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

@import "tailwindcss";
@plugin "daisyui" {
    themes: winter --default;
}

@theme {
    --default-font-family: "Zilla Slab", "Inter", sans-serif;
    --default-mono-font-family: "JetBrains Mono", monospace;
}
